
<div class="container">

  <div class="row" >

  <!-- <ng-container>
    <div  class="p-2 col-md-4 col-lg-4 col-12"*ngFor="let item of filterStatus('To Do')" >
      <mat-card class="example-card">
        <h2 class="text-center">To Do</h2>
        <mat-card-header>
          <mat-card-title>{{item?.ticketName}} Name.......</mat-card-title>
          <mat-card-subtitle>{{item?.status}} status.......</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.contnent}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container> -->

<!--   
  <ng-container>
    <div  class="p-2 col-md-4 col-lg-4 col-12"*ngFor="let item of filterStatus('In Progress')" >
      <mat-card class="example-card">
        <h2 class="text-center">In Progress </h2>
        <mat-card-header>
          <mat-card-title>{{item.ticketName}}</mat-card-title>
          <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.contnent}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  
  <ng-container>
    <div  class="p-2 col-md-4 col-lg-4 col-12"*ngFor="let item of filterStatus('Done')" >
      <mat-card class="example-card">
        <h2 class="text-center">Done</h2>
        <mat-card-header>
          <mat-card-title>{{item.ticketName}}</mat-card-title>
          <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.contnent}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container> -->

</div>







  <!--  old cod here for layouts
     <div fxLayout="row"  fxLayoutAlign=" start stretch" >
    <h1>Row start End</h1>
    <div fxFlex="10"  class="one">One start end</div>
    <div fxFlex="40" class="two">Two Table start end</div>
    <div fxFlex="40" class="three">Three Table</div>
    <div fxFlex="10" class="two">Four Table start end</div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="column"  fxFlexAlign="space-around center" fxLayoutGap="10px">
    <h1>Column</h1>
    <div fxFlex class="one">One Table</div>
    <div fxFlex class="two">Two Table</div>
  </div>

<mat-divider></mat-divider>


<mat-divider></mat-divider>

<div fxLayout="row"  fxLayoutAlign="start end" >
  <h1>Row start End</h1>
  <div  class="one">One Tablefgfgfgfgfgfgfgfgfgf start end</div>
  <div class="two">Two Table start end</div>
  <div class="three">Three Table</div>
  <div class="two">Four Table start end</div>
</div> -->
<!-- </div> -->
