<div class="profile-info">
  <div class="user-img">
    <img class="img-fluid img-responsive"
      src="https://avatars3.githubusercontent.com/u/58684635?s=460&u=f7af97454174f4f3a0c1b2db9b79cf1206b9a424&v=4"
      alt="user" />
  </div>
  <p class="py-2">SANTOSH PAL</p>
</div>


<mat-nav-list>
  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/home" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    Home</a>

    <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/local-server" routerLinkActive="activebutton">
      <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Json Server</a>

  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/news" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">text_format </mat-icon>
    News Api</a>

  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/dashbords" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">ballot </mat-icon>
    User Dashbords</a>
  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/gallery" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">picture_in_picture_alt </mat-icon>
    Gallery</a>
  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/contact" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">settings_phone </mat-icon>
    Contact</a>
  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/dynamic" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">stars </mat-icon>
    Dynamic Component</a>

  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/crud" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">spellcheck </mat-icon>
    ApiCrud</a>

  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/grid" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">grid_on </mat-icon>
    Grid-System</a>

  <a class="text-white font-weight-bold" mat-list-item routerLink="/pages/cusobs" routerLinkActive="activebutton">
    <mat-icon class="mr-5" aria-hidden="false" aria-label="Example home icon">filter_vintage </mat-icon>
    Custom
    Observer</a>
</mat-nav-list>