<section class="container-fluid">
    <div class="container bg-light py-2">
       <div class="row">
        <h3>Football</h3>
        <div class="col-md-12 col-lg-12 col-12  font-weight-bold" *ngFor="let item of fixturesList; let i =index">
            <div class="card">
                <div class="card-header bg-danger text-white text-center py-2">
                  {{item.Country}} {{i+1}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.MatchName}}</h5>
                  <hr/>
                  <p class="card-text">{{item.LeagueName}}</p>
                </div>
              </div>
              <br/>
        </div>
       </div>
    </div>
</section>